
<div class='user_index col-md-8 col-md-offset-2' style="margin-top: 100px;">
  <h2>ユーザー一覧</h2>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>user name</th>
        <th>friend ID</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><a href="/users/<%= user.id %>"><%= user.user_name %></a></td>
          <td><%= user.friend_id %></td>
          <td><%= link_to "Show", user_path(user.id), class:"user_#{user.id}" %></td>
          <td><%= link_to "アカウント削除",user_path(user.id), "data-confirm" => "本当に消しますか?", method: :delete, class:"btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

